@import "tailwindcss";

@theme {
  --color-spotify-gray: #b3b3b3;
  --color-spotify-green: #1ed760;
  --color-spotify-background: #121212;
}

@layer components {
  .spotify-btn {
    @apply cursor-pointer hover:scale-104 hover:brightness-125 active:scale-97 active:brightness-85;
  }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #55555560;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
